/*TENDENCIAS*/

#tendencias {
  margin: 0 1.4em;
  text-align: center;
}

.tendencias--tittle {
  padding: 1.5rem 0;
}

.tendencias--description {
  text-align: justify;
  padding-bottom: 1rem;
}

.tendencias--items {
  padding-bottom: 1em;
}
