* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

header {
  background: linear-gradient(to right, #1d1f1d, #464745);
  padding: 0.5rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.container {
  width: 95%;
  max-width: 1320px;
  margin: 0 auto;
}

.col {
  width: 100%;
}
