@import "variables";
@import "global";
@import "navbar";
@import "index";
@import "productos";
@import "footer";

.contact-section {
  background: #ffffff;
  padding: 8rem 0 2rem 0;
  height: 100%;
  width: 100%;
}

/*TENDENCIAS*/

#tendencias {
  margin: 0 1.4em;
  text-align: center;
}

.tendencias--tittle {
  padding: 1.5rem 0;
}

.tendencias--description {
  text-align: justify;
  padding-bottom: 1rem;
}

iframe {
  padding: 1rem 0;
}

.tendencias--items {
  padding-bottom: 1em;
}

/*MEDIA QUERIES*/

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 1.5rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img-box {
    margin-top: 0;
    text-align: right;
  }

  .display-2 {
    font-size: 3.4rem;
  }

  .display-2--intro {
    text-align: left;
  }

  .display-2--description {
    font-size: 1rem;
    display: inline-block;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "tendencias--tittle tendencias--tittle"
      "tendencias--item tendencias--image";
  }

  .tendencias--tittle {
    grid-area: tendencias--tittle;
  }

  .tendencias--image {
    grid-area: tendencias--image;
    justify-self: center;
  }

  .tendencias--item {
    grid-area: tendencias--item;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .display-2 {
    font-size: 4.5rem;
  }

  .display-2--description {
    font-size: 1.4rem;
    display: inline-block;
  }

  .nav__link--button {
    display: block;
  }

  .tendencias--items {
    font-size: 1.5em;
  }
}
